.specificationSection {
  margin: 0 auto;
  height: 600px;
}

.containerSpecification {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: row;
}
.imageLeft {
  width: 50%;
  height: auto;
  background-color: #111; /* Ajuste opcional para visual */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgTaycan {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.specificationRight {
  width: 50%;
  height: auto;
  background-color: #1b3c2e;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleSpec {
  font-size: 3rem;
  width: 30rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.specificationContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.specificationItem {
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.05) */
  /* border-radius: 8px; */
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.specificationItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background: white;
}
.specificationTitle {
  font-size: 2rem;
  font-weight: bold;
}

/* Mejora visual para los valores de especificación */
.specificationText {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 900px) {
  .containerSpecification {
    flex-direction: column;
    height: auto;
  }
  .imageLeft,
  .specificationRight {
    width: 100%;
    height: auto;
  }
  .titleSpec {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  .specificationContent {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
